In [16]:
import pandas as pd
import numpy as np

In [17]:
path = "/home/math/putintostyle/cathay2018/raw_data/"

In [18]:
train_info = pd.read_csv(path+"train_data_split_occupation.csv")
train_info.head()

/home/math/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CUST_ID,BUY_TYPE,AGE,SEX,HEIGHT,WEIGHT,major_cat,minor_cat,CHILD_NUM,BUY_MONTH,...,INTEREST6,INTEREST7,INTEREST8,INTEREST9,INTEREST10,IS_APP,IS_SPECIALMEMBER,PARENTS_DEAD,REAL_ESTATE_HAVE,IS_MAJOR_INCOME
0,1,e,h,a,0.379047,0.163892,t,28,2,6,...,NaN,NaN,NaN,NaN,NaN,a,b,B,A,B
1,31,e,q,a,0.290444,0.303906,t,28,0,11,...,NaN,NaN,NaN,NaN,NaN,a,a,B,B,A
2,49,c,k,a,0.290444,0.070550,t,28,0,8,...,NaN,NaN,NaN,NaN,NaN,a,a,B,B,A
3,55,e,l,a,0.231375,0.023878,i,37,3,8,...,NaN,NaN,NaN,NaN,NaN,a,a,B,A,A
4,62,d,e,a,0.438115,-0.069464,i,37,0,4,...,NaN,NaN,NaN,NaN,NaN,a,b,B,B,A

# Change variable to dummy variable

In [20]:
processing_dummy_var_df = pd.get_dummies(train_info)
processing_dummy_var_df.head()

,CUST_ID,HEIGHT,WEIGHT,CHILD_NUM,BUY_MONTH,BUDGET,BUY_TYPE_a,BUY_TYPE_b,BUY_TYPE_c,BUY_TYPE_d,...,IS_APP_a,IS_APP_b,IS_SPECIALMEMBER_a,IS_SPECIALMEMBER_b,PARENTS_DEAD_A,PARENTS_DEAD_B,REAL_ESTATE_HAVE_A,REAL_ESTATE_HAVE_B,IS_MAJOR_INCOME_A,IS_MAJOR_INCOME_B
0,1,0.379047,0.163892,2,6,-0.247343,0,0,0,0,...,1,0,0,1,0,1,1,0,0,1
1,31,0.290444,0.303906,0,11,-0.126387,0,0,0,0,...,1,0,1,0,0,1,0,1,1,0
2,49,0.290444,0.070550,0,8,-0.192011,0,0,1,0,...,1,0,1,0,0,1,0,1,1,0
3,55,0.231375,0.023878,3,8,-0.245155,0,0,0,0,...,1,0,1,0,0,1,1,0,1,0
4,62,0.438115,-0.069464,0,4,-0.233151,0,0,0,1,...,1,0,0,1,0,1,0,1,1,0

processing_dummy_var_df.to_csv("/home/math/putintostyle/cathay2018/split_data/dummy_variable.csv")